#Comments
#### CS 65: Introduction to Computer Science I

## Programming for humans

__Comments:__ elements of a program which are ignored by the interpreter
* help document how to use the code properly
* explain what's going on with more complex code
* cite references
* temporarily ignore some code
* anything for the sake of humans (you and others)

`#` starts a comment - everything on the rest of the line is ignored

In [ ]:
avg_gas_estimate = 2.70  #current price per gallon in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

## Multiline comments

Text surrounded by three sets of quotes will all be ignored - spanning multiple lines

In [ ]:
"""
Here are some estimates used to help calculate
the budget for our vacation to Memphis next
spring break.
"""
avg_gas_estimate = 2.70 #current price in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

## Common uses

In [ ]:
avg_gas_estimate = 2.70 #current price in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

vacation_days = 8

#camping_nights = 3
#hotel_nights = vacation_days-1-camping_nights
hotel_nights = vacation_days-1
hotel_per_night_cost = 96 #Airbnb near Graceland
lodging_cost = hotel_nights * hotel_per_night_cost

food_per_person_per_day = 40
num_people = 4
total_food_per_day = food_per_person_per_day*num_people
souvenirs_and_incidentals_per_day = 100
food_and_incidental_cost = vacation_days*(total_food_per_day+souvenirs_and_incidentals_per_day)

#TODO: look up cost for a Grizzlies game and see if we can afford it

#https://www.graceland.com/ticket-information
graceland_ticket_cost = 190
graceland_cost = num_people * graceland_ticket_cost

vacation_budget = gas_cost + lodging_cost + food_and_incidental_cost + graceland_cost
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

# Expressions

In [5]:
num_students = 42
num_adults = 10
total_field_trip_lunches = num_students + num_adults
print("Total field trip lunches:", total_field_trip_lunches)

Total field trip lunches: 52

`num_students + num_adults` is *evaluated* --which results in an answer, so it is an expression

expressions include __operators__, like `+`, and __operands__ like `num_students`, and `num_adults`

## Arithmetic Operators
Python supports all of the arithmetic operators you know and love:

| **Operator** | **Name**       | **Example**    |
|--------------|----------------|----------------|
| `( )`        | Parentheses    |  `y = 2*(x-1)` |
| `**`         | Exponent       | `y = x**2`     |
| `*`          | Multiplication | `y = x*2`      |
| `/`          | Division       | `y = x/2`      |
| `+`          | Addition       | `y = x + 2`    |
| `-`          | Subtraction    | `y = x - 2`    |

PEMDAS order of operation

In [6]:
6/2*(1+2)

9.0

In [7]:
2**4

16

## Keeping it simple
Just becuase you **can** write really complex expressions in Python doesn't mean you **should**.

In [8]:
vacation_budget = (2.70 * 1224/32) + ((8-1) * 96) + (8 * ((40*4)+100)) + (4 * 190)
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

In [9]:
avg_gas_estimate = 2.70
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

vacation_days = 8

hotel_nights = vacation_days-1
hotel_per_night_cost = 96
lodging_cost = hotel_nights * hotel_per_night_cost

food_per_person_per_day = 40
num_people = 4
total_food_per_day = food_per_person_per_day*num_people
souvenirs_and_incidentals_per_day = 100
food_and_incidental_cost = vacation_days*(total_food_per_day+souvenirs_and_incidentals_per_day)

graceland_ticket_cost = 190
graceland_cost = num_people * graceland_ticket_cost

vacation_budget = gas_cost + lodging_cost + food_and_incidental_cost + graceland_cost
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

# Types

## Values we've seen so far

So far, we've seen different kinds of data

In [10]:
num_students = 42 #whole numbers
avg_gas_estimate = 2.70 #numbers with decimal
print("Hello world!") #text data

Hello world!

All data has a __type__ which defines what kind of thing it is and what you can do with it.

## Names of some types

__integer:__ whole numbers

__floating point:__ numbers with decimal points

__string:__ text data

The `type()` function can be used to tell you what kind of type something is. 

Both values and variables can have types.

In [11]:
type(2.70)

float

In [12]:
type(avg_gas_estimate)

float

In [13]:
type("Hello world")

str

In [14]:
type(num_students)

int

## Expressions on strings

We've seen how arithmetic operators work on numerical types like ints and floats.

Strings have their own operators too - and some look like arithmetic operators!

In [15]:
greeting = "Hello"
name = "Meredith"
greeting+name

'HelloMeredith'

In [16]:
greeting-name #not allowed

TypeError: ignored

## Can't apply all string operations to numbers

Similarly, you can't do everything with numbers that you can with strings.

In [17]:
len(name)

8

In [18]:
len(num_students)

TypeError: ignored

## Other types we'll see

There are several other built-in types that we'll hear more about later like

__Boolean:__ can have value `True` or `False`

__List:__ for keeping track of a sequence of values

In [19]:
type(False)

bool

In [20]:
type([1,2,3])

list

You can even make your own types or use those that others have created.