# Day 02 Notes:
__CS65: Introduction to Computer Science I__

In these notes we will cover:
- Examples of Comments
- Expressions
  - arithmetic operators
- Types
- User Input
  - Converting between types

#Comments
#### CS 65: Introduction to Computer Science I

## Programming for humans

__Comments:__ elements of a program which are ignored by the interpreter
* help document how to use the code properly
* explain what's going on with more complex code
* cite references
* temporarily ignore some code
* anything for the sake of humans (you and others)

`#` starts a comment - everything on the rest of the line is ignored

In [ ]:
avg_gas_estimate = 2.70  #current price per gallon in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

## Multiline comments

Text surrounded by three sets of quotes will all be ignored - spanning multiple lines

In [ ]:
"""
Here are some estimates used to help calculate
the budget for our vacation to Memphis next
spring break.
"""
avg_gas_estimate = 2.70 #current price in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

## Common uses

In [ ]:
avg_gas_estimate = 2.70 #current price in Des Moines
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

vacation_days = 8

#camping_nights = 3
#hotel_nights = vacation_days-1-camping_nights
hotel_nights = vacation_days-1
hotel_per_night_cost = 96 #Airbnb near Graceland
lodging_cost = hotel_nights * hotel_per_night_cost

food_per_person_per_day = 40
num_people = 4
total_food_per_day = food_per_person_per_day*num_people
souvenirs_and_incidentals_per_day = 100
food_and_incidental_cost = vacation_days*(total_food_per_day+souvenirs_and_incidentals_per_day)

#TODO: look up cost for a Grizzlies game and see if we can afford it

#https://www.graceland.com/ticket-information
graceland_ticket_cost = 190
graceland_cost = num_people * graceland_ticket_cost

vacation_budget = gas_cost + lodging_cost + food_and_incidental_cost + graceland_cost
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

# Expressions

In [ ]:
num_students = 42
num_adults = 10
total_field_trip_lunches = num_students + num_adults
print("Total field trip lunches:", total_field_trip_lunches)

Total field trip lunches: 52

`num_students + num_adults` is *evaluated* --which results in an answer, so it is an expression

expressions include __operators__, like `+`, and __operands__ like `num_students`, and `num_adults`

## Arithmetic Operators
Python supports all of the arithmetic operators you know and love:

| **Operator** | **Name**       | **Example**    |
|--------------|----------------|----------------|
| `( )`        | Parentheses    |  `y = 2*(x-1)` |
| `**`         | Exponent       | `y = x**2`     |
| `*`          | Multiplication | `y = x*2`      |
| `/`          | Division       | `y = x/2`      |
| `+`          | Addition       | `y = x + 2`    |
| `-`          | Subtraction    | `y = x - 2`    |

PEMDAS order of operation

In [ ]:
6/2*(1+2)

9.0

In [ ]:
2**4

16

## Keeping it simple
Just becuase you **can** write really complex expressions in Python doesn't mean you **should**.

In [ ]:
vacation_budget = (2.70 * 1224/32) + ((8-1) * 96) + (8 * ((40*4)+100)) + (4 * 190)
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

In [ ]:
avg_gas_estimate = 2.70
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

vacation_days = 8

hotel_nights = vacation_days-1
hotel_per_night_cost = 96
lodging_cost = hotel_nights * hotel_per_night_cost

food_per_person_per_day = 40
num_people = 4
total_food_per_day = food_per_person_per_day*num_people
souvenirs_and_incidentals_per_day = 100
food_and_incidental_cost = vacation_days*(total_food_per_day+souvenirs_and_incidentals_per_day)

graceland_ticket_cost = 190
graceland_cost = num_people * graceland_ticket_cost

vacation_budget = gas_cost + lodging_cost + food_and_incidental_cost + graceland_cost
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

# Types

## Values we've seen so far

So far, we've seen different kinds of data

In [ ]:
num_students = 42 #whole numbers
avg_gas_estimate = 2.70 #numbers with decimal
print("Hello world!") #text data

Hello world!

All data has a __type__ which defines what kind of thing it is and what you can do with it.

## Names of some types

__integer:__ whole numbers

__floating point:__ numbers with decimal points

__string:__ text data

The `type()` function can be used to tell you what kind of type something is. 

Both values and variables can have types.

In [ ]:
type(2.70)

float

In [ ]:
type(avg_gas_estimate)

float

In [ ]:
type("Hello world")

str

In [ ]:
type(num_students)

int

# User Input

To receive input from the user, use the built-in `input()` function.

In [1]:
name = input("Enter your name ")
print("Hello",name)

Enter your name Meredith
Hello Meredith

Think about the `name` variable here. What is its type? How would we check?

In [2]:
type(name)

str

## User input example: Fahrenheit to Celsius converter

The formula for converting Fahrenheit temperatures to Celsius is $$C = (F - 32)*\frac{5}{9}$$

We could make this an interactive program with code like this:

In [3]:
fahrenheit_temp = input("Enter the temperature in Fahrenheit ")
celsius_temp = (fahrenheit_temp-32)*(5/9)
print("That's",celsius_temp,"in Celsius")

Enter the temperature in Fahrenheit 89

TypeError: ignored

Read the error message! It says we can't subract an int from a string. Even though we typed a number, it treated `fahrenheit_temp` as a string.

Unfortunately, that's just the way `input()` works.

Fortunately, there's another built-in function we can use to convert something to an integer: `int()`

In [4]:
val = "32"
print( type(val) )
print( type(int(val)) )

<class 'str'>
<class 'int'>

In [5]:
fahrenheit_temp_str = input("Enter the temperature in Fahrenheit ")
fahrenheit_temp_int = int(fahrenheit_temp_str)
celsius_temp = (fahrenheit_temp_int-32)*(5/9)
print("That's",celsius_temp,"in Celsius")

Enter the temperature in Fahrenheit 89
That's 31.666666666666668 in Celsius

Or, you can do it all in one step like this

In [6]:
fahrenheit_temp = int( input("Enter the temperature in Fahrenheit ") )
celsius_temp = (fahrenheit_temp-32)*(5/9)
print("That's",celsius_temp,"in Celsius")

Enter the temperature in Fahrenheit 89
That's 31.666666666666668 in Celsius

## Other type conversion functions

Convert to a floating-point type with `float()`

Convert to a string with `str()`

In [7]:
fahrenheit_temp = float( input("Enter the temperature in Fahrenheit ") )
celsius_temp = (fahrenheit_temp-32)*(5/9)
print("That's",celsius_temp,"in Celsius")

Enter the temperature in Fahrenheit 89
That's 31.666666666666668 in Celsius

In [8]:
target_number = 42
user_input = int( input("Enter a number greater than ",target_number) ) #doesn't work

TypeError: ignored

In [9]:
#above code corrected
target_number = 42
user_input = int( input("Enter a number greater than "+str(target_number)+" ") )

Enter a number greater than 42 89