# Day02 Notes: Expressions
__CS 65: Introduction to Computer Science__

In [2]:
num_students = 42
num_adults = 10
total_field_trip_lunches = num_students + num_adults
print("Total field trip lunches:", total_field_trip_lunches)

Total field trip lunches: 52

`num_students + num_adults` is *evaluated* --which results in an answer, so it is an expression

expressions include __operators__, like `+`, and __operands__ like `num_students`, and `num_adults`

## Arithmetic Operators
Python supports all of the arithmetic operators you know and love:

| **Operator** | **Name**       | **Example**    |
|--------------|----------------|----------------|
| `( )`        | Parentheses    |  `y = 2*(x-1)` |
| `**`         | Exponent       | `y = x**2`     |
| `*`          | Multiplication | `y = x*2`      |
| `/`          | Division       | `y = x/2`      |
| `+`          | Addition       | `y = x + 2`    |
| `-`          | Subtraction    | `y = x - 2`    |

PEMDAS order of operation

In [3]:
6/2*(1+2)

9.0

In [4]:
2**4

16

## Keeping it simple
Just becuase you **can** write really complex expressions in Python doesn't mean you **should**.

In [5]:
vacation_budget = (2.70 * 1224/32) + ((8-1) * 96) + (8 * ((40*4)+100)) + (4 * 190)
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

In [6]:
avg_gas_estimate = 2.70
round_trip_miles_to_memphis = 1224
vehicle_mpg = 32
gas_cost = avg_gas_estimate * (round_trip_miles_to_memphis/vehicle_mpg)

vacation_days = 8

hotel_nights = vacation_days-1
hotel_per_night_cost = 96
lodging_cost = hotel_nights * hotel_per_night_cost

food_per_person_per_day = 40
num_people = 4
total_food_per_day = food_per_person_per_day*num_people
souvenirs_and_incidentals_per_day = 100
food_and_incidental_cost = vacation_days*(total_food_per_day+souvenirs_and_incidentals_per_day)

graceland_ticket_cost = 190
graceland_cost = num_people * graceland_ticket_cost

vacation_budget = gas_cost + lodging_cost + food_and_incidental_cost + graceland_cost
print("Vacation budget:",vacation_budget)

Vacation budget: 3615.275

## Some new Operators `//` and `%`

The `//` operator does what we call **floor division**
Suppose we have two integers:

In [ ]:
101 / 4

In this division, 101 is called the **numerator** (`N`) while 4 is called the **demoninator** (`D`).

The integer division of `101/4` returns `25` with the remainder `1`. In other words:

`101 / 4 = 25 with remainder 1`

Or to put it another way: 

`101 / 4 = 4 * 25 + 1`

Python uses two operators `//` and `%` that returns the result of teh division:

`101 // 4 = 25`
`101 % 4 = 1`

The `//` is called the **floor division operator** or div. And teh `%` is called the **modulo operator** or mod.

### Practice Exercise:
Let's try practicing with these operators in Thonny. Copy and paste the following into the shell line by line and try to predict what the result will be:

In [ ]:
56 // 10
56 % 10
23 // 11
23 % 23

### `%` in Practice:
One common way that the `%` operator is used is to tell whether a number is even or odd:

If a number, `x` is even, then taking `x%2` should result in `0`. If a number is odd, `x%2` will be `1`.